[submodule "src/lib/cc-argparse"]
	path = src/cc-argparse
	url = https://github.com/Commandcracker/cc-argparse/
[submodule "ccryptolib"]
	path = ccryptolib
	url = https://github.com/migeyel/ccryptolib
[submodule "howl"]
	path = howl
	url = https://github.com/squidDev-CC/howl
