[submodule "src/lib/cc-argparse"]
	path = src/lib/cc-argparse
	url = https://github.com/Commandcracker/cc-argparse/
[submodule "ccryptolib"]
	path = ccryptolib
	url = https://github.com/migeyel/ccryptolib
